amqp==5.3.1
asgiref==3.11.1
ast-serialize==0.5.0
attrs==26.1.0
autobahn==25.12.2
automat==25.4.16
billiard==4.2.4
black==26.5.1
cbor2==6.1.2
celery==5.5.3
cffi==2.0.0
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==49.0.0
daphne==4.2.2
dj-database-url==3.1.2
django==6.0.6
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-filter==25.2
django-redis==6.0.0
django-silk==5.5.0
django-tenants==3.10.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
factory-boy==3.3.3
faker==40.23.0
gprof2dot==2025.4.14
hyperlink==21.0.0
idna==3.18
incremental==24.11.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.5.4
librt==0.11.0
msgpack==1.2.0
mypy==2.1.0
mypy-extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psycopg==3.3.4
psycopg2-binary==2.9.12
py-ubjson==0.16.1
pycparser==3.0
pygments==2.20.0
pyjwt==2.13.0
pyopenssl==26.3.0
pytest==9.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
pyyaml==6.0.3
redis==6.2.0
referencing==0.37.0
rpds-py==2026.5.1
ruff==0.15.17
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
twisted==26.4.0
txaio==25.12.2
typing-extensions==4.15.0
tzdata==2026.2
ujson==5.13.0
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.8.1
whitenoise==6.9.0
zope-interface==8.5
